<div id="dm-prod-ajax">
    <div class="row dm-nopad dm-nomrg">
        <div class="col-xs-12">
            <p class="dm-cntnt-hdr">Покрытие металлокаркаса:</p>
            <div class="dm-tmrg-25">
                <div class="row dm-nopad dm-nomrg dm-cl-5 dm-btinfo">
                    <div class="col-lg-1 visible-lg dm-nopad dm-nomrg"></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p01.jpg" class="fancybox"><img src="images/product/pokrytiya/p01.jpg" alt=""></a><p>RAL 1035</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p02.jpg" class="fancybox"><img src="images/product/pokrytiya/p02.jpg" alt=""></a><p>RAL 3000</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p03.jpg" class="fancybox"><img src="images/product/pokrytiya/p03.jpg" alt=""></a><p>RAL 4004</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p04.jpg" class="fancybox"><img src="images/product/pokrytiya/p04.jpg" alt=""></a><p>RAL 5002</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p05.jpg" class="fancybox"><img src="images/product/pokrytiya/p05.jpg" alt=""></a><p>RAL 5012</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p06.jpg" class="fancybox"><img src="images/product/pokrytiya/p06.jpg" alt=""></a><p>RAL 6018</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p07.jpg" class="fancybox"><img src="images/product/pokrytiya/p07.jpg" alt=""></a><p>RAL 7001</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p08.jpg" class="fancybox"><img src="images/product/pokrytiya/p08.jpg" alt=""></a><p>RAL 8002</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p09.jpg" class="fancybox"><img src="images/product/pokrytiya/p09.jpg" alt=""></a><p>Алюминий муар</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p10.jpg" class="fancybox"><img src="images/product/pokrytiya/p10.jpg" alt=""></a><p>Антик-бардо</p></div>
                    <div class="col-md-1 visible-lg dm-nopad dm-nomrg"></div>
                </div>
            </div>
            <div class="dm-tmrg-25">
                <div class="row dm-nopad dm-nomrg dm-cl-5 dm-btinfo">
                    <div class="col-lg-1 visible-lg dm-nopad dm-nomrg"></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p11.jpg" class="fancybox"><img src="images/product/pokrytiya/p11.jpg" alt=""></a><p>Антик-бронза</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p12.jpg" class="fancybox"><img src="images/product/pokrytiya/p12.jpg" alt=""></a><p>Антик-зеленый</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p13.jpg" class="fancybox"><img src="images/product/pokrytiya/p13.jpg" alt=""></a><p>Антик-серебро</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p14.jpg" class="fancybox"><img src="images/product/pokrytiya/p14.jpg" alt=""></a><p>Белый глянец</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p15.jpg" class="fancybox"><img src="images/product/pokrytiya/p15.jpg" alt=""></a><p>Бронзовый металлик</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p16.jpg" class="fancybox"><img src="images/product/pokrytiya/p16.jpg" alt=""></a><p>Коричневая шагрень</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p17.jpg" class="fancybox"><img src="images/product/pokrytiya/p17.jpg" alt=""></a><p>Медный металлик</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p18.jpg" class="fancybox"><img src="images/product/pokrytiya/p18.jpg" alt=""></a><p>Серебристый металлик</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p19.jpg" class="fancybox"><img src="images/product/pokrytiya/p19.jpg" alt=""></a><p>Синяя шагрень</p></div>
                    <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 dm-nopad dm-nomrg dm-cntr"><a href="images/product/pokrytiya/p20.jpg" class="fancybox"><img src="images/product/pokrytiya/p20.jpg" alt=""></a><p>Черный муар</p></div>
                    <div class="col-md-1 visible-lg dm-nopad dm-nomrg"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.fancybox').fancybox();
    });
</script>
