/* import San Francisco font */

@font-face {
	font-family: "SFRegular";
	src: url("../fonts/sfiu-regular/SFUIText-Regular.eot");
	src: url("../fonts/sfiu-regular/SFUIText-Regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/sfiu-regular/SFUIText-Regular.woff") format("woff"),
	url("../fonts/sfiu-regular/SFUIText-Regular.ttf") format("truetype"),
	url("../fonts/sfiu-regular/SFUIText-Regular.svg#JournalRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "SFMedium";
	src: url("../fonts/sfiu-medium/SFUIText-Medium.eot");
	src: url("../fonts/sfiu-medium/SFUIText-Medium.eot?#iefix") format("embedded-opentype"),
	url("../fonts/sfiu-medium/SFUIText-Medium.woff") format("woff"),
	url("../fonts/sfiu-medium/SFUIText-Medium.ttf") format("truetype"),
	url("../fonts/sfiu-medium/SFUIText-Medium.svg#JournalRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "SFBold";
	src: url("../fonts/sfiu-bold/SFUIText-Bold.eot");
	src: url("../fonts/sfiu-bold/SFUIText-Bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/sfiu-bold/SFUIText-Bold.woff") format("woff"),
	url("../fonts/sfiu-bold/SFUIText-Bold.ttf") format("truetype"),
	url("../fonts/sfiu-bold/SFUIText-Bold.svg#JournalRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}


/* import San Francisco font */

BODY, HTML {
	font-family: SFRegular;
	-ms-overflow-style: scrollbar;
}

.dm-justify { text-align: justify !important; text-justify: auto; }
.dm-uc { text-transform: uppercase !important; }
.dm-indent { text-indent: 30px; }
.dm-bold { font-family: SFBold; }
.dm-cl-wh { color:#fff !important; }
.dm-cl-5 { color:#555 !important; }
.dm-bg-wh { background-color:#fff !important; }
.dm-bg-trans { background-color:transparent !important; }
.dm-bg-444 { background-color:#444 !important; }
.dm-bg-red { background-color:red !important; }
.dm-bg-f2 { background-color:#f2f2f2 !important; }
.dm-bg-3c { background-color:#3c3c3c !important; }
.dm-xs-cntr { text-align:left; } 
.dm-nbrdr { border: none !important; }
.dm-nbgrnd { background: none !important; }
.dm-cntr { text-align:center !important; }
.dm-rht  { text-align:right !important; }
.dm-lft  { text-align:left !important; }
.dm-nopad { padding: 0px !important; }
.dm-nomrg { margin: 0px !important; }
.dm-fwdth { width:100% !important; }
.dm-wdth8 { width:80%; }
.dm-wdth4 { width:40% !important; }
.dm-wdth5 { width:50% !important; }
.dm-fhght { height:100%; }
.dm-iblock { display:inline-block !important;}
.dm-rzdl-wrap { height: 50px; }
.dm-rzdl-wrap2x { height: 100px; }
.dm-wrap-10 { height:10px; }
.dm-wrap-20 { height:20px; }
.dm-wrap-25 { height:25px; }
.dm-wrap-75 { height:75px; }
.dm-lmrg-10 { margin-left:10px !important; }
.dm-lmrg-15 { margin-left:15px !important; }
.dm-rmrg-15 { margin-right:15px !important; }
.dm-lmrg-25 { margin-left:25px !important; }
.dm-rmrg-25 { margin-right:25px !important; }
.dm-vmrg-15i { margin-top:15px !important; margin-bottom:15px !important; }
.dm-vmrg-15 { margin-top:15px; margin-bottom:15px; }
.dm-vmrg-25 { margin-top:25px; margin-bottom:25px; }
.dm-tmrg    { margin-top:25px !important; }
.dm-tmrg-10 { margin-top:10px !important;  }
.dm-tmrg-20 { margin-top:20px; }
.dm-tmrg-25 { margin-top:25px; }
.dm-tmrg-30 { margin-top:30px; }
.dm-tmrg-50 { margin-top:50px; }
.dm-bmrg-25 { margin-bottom:25px; }
.dm-bmrg-35 { margin-bottom:35px; }
.dm-pdng-20 { padding: 20px !important; }
.dm-pdng-15 { padding: 15px; }
.dm-vpdng-25 { padding-top:25px !important; padding-bottom:25px !important; }
.dm-vpdng-15 { padding-top:15px !important; padding-bottom:15px !important; }
.dm-vpdng-10 { padding-top:10px !important; padding-bottom:10px !important; }
.dm-hpdng-25 { padding-left:25px !important; padding-right:25px !important; }
.dm-nav {
	background-color: transparent !important;
	border-radius: 0px !important;
	min-height:30px;
	border: none;
}
.dm-nav-fcs {
	color: #b31a22;
	line-height:20px;
}
.dm-nav-a {
	display:block;
	padding-top:10px !important;
	padding-bottom:14px !important;
	text-align:center;
}
.dm-nav-a:hover, .dm-nav-a:active {
	color:#b3282d !important;
}
.dm-nav-rimg {
	margin-top:10px;
	margin-left:5px;
	width:20px;
}
.dm-hdr { background-color: #3c3c3c; }
.dm-hdr-col { height: 142px; }
.dm-txt-rglr { font-family: SFRegular, sans-serif;  font-size: 16pt; }
.dm-txt-mdm { font-family: SFMedium, sans-serif; font-size: 16pt;  }
.dm-txt-bld { font-family: SFBold, sans-serif;  font-size: 16pt; }
.dm-tab { display: table; }
.dm-tab-td { display: table-cell; vertical-align: middle; }
.dm-hdr-lb { display:inline-block; background: url(../images/phone.png) left center no-repeat; padding-left: 40px; }
.dm-hdr-lb-tel { display:block; width:100%; }
.dm-hdr-lb-zvk { display:block; width:100%; }
A.dm-hdr-lb-tel { color: #fff; }
A.dm-hdr-lb-tel:hover { color: #ccc; text-decoration: none; }
A.dm-hdr-lb-zvk { color: #aaa; text-decoration: underline; }
A.dm-hdr-lb-zvk:hover { color: #888; text-decoration: underline; }
.dm-hdr-rb { display:inline-block; }
.dm-hdr-rb-txt { color: #fff;  }
.dm-srch-ha { height:auto !important; }
.dm-error { border: 2px solid #b3282d !important; }
.dm-srch {
	display:inline-block;
	width:90%;
	height:25px;
	margin:0px !important;
	border: 2px solid #aaa;
	background-color:#3c3c3c;
	color:#ccc;
	font-style:italic;
}
.dm-cat-fb {
	border: 2px solid #fff;
	background-color:#b3b2b1;
	color:#eee;
}

.dm-srch > INPUT {
	left:inherit;
	position:absolute;
	display: block;
	padding: 0 3px;
	margin: 0px;
	height:22px;
	font-size:10pt;
	width:62%;
	border:none;
	background-color:transparent;
	outline:none;
}

.dm-srch > TEXTAREA  {
	height:100%;
	font-size:10pt;
	padding-left:3px;
	width:100%;
	border:none;
	background-color:transparent;
}
.dm-srch-sbmt {
	display:inline-block;
	height:25px;
	width:10%;
	margin:0px !important;
	border-left: 2px solid #aaa;
	border-top: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
	border-right:none;
	cursor:pointer;
}
.dm-srch-sbmt > A {
	display:block;
	width:100%;
	height:22px;
	background: url(../images/search-trans.png) center center no-repeat;
	background-size: auto;
;
}
.dm-srch-sbmt > A:hover { background: url(../images/search-trans-hvr.png) center center no-repeat; }
.dm-xs-logo { height: 50px; }
.dm-sw-icon > IMG {height:26px;}
.dm-googlemap {
	height:374px;
}
.dm-ftr-mtop { margin-top:40px;}
.dm-ftr-scls { width: 70px; }
.dm-ftr-scls > IMG { opacity: 0.5; }
.dm-ftr-scls:hover > IMG { opacity: 1; }
.dm-ftr-text { color: #fff; font-size:10pt; }
.dm-lft-inpt { margin-top: 10px; }
.dm-btn-sbmt {
	background-color: #b3282d;
	width:100%;
	padding:10px;
	font-size:12pt;
	font-family: SFBold, sans-serif; 
	color:#fff;
	border:none;
}
.dm-btn-sbmt:hover { background-color: #cc282d; }
.dm-btn2-sbmt {
	background-color: #fff;
	width:100%;
	padding:10px;
	font-size:12pt;
	font-family: SFBold, sans-serif; 
	color:#b3282d;
	border:none;
}
.dm-btn2-sbmt:hover { background-color: #f6f6f6; }
.dm-topslider-slide-1 { background: url('../images/index/slider/slide_1.jpg') 100% 100% no-repeat; background-position: center center; background-size: cover; width:100%; }
.dm-topslider-slide-2 { background: url('../images/index/slider/slide_2.jpg') 100% 100% no-repeat; background-position: center center; background-size: cover; width:100%; }
.dm-topslider-slide-3 { background: url('../images/index/slider/slide_3.jpg') 100% 100% no-repeat; background-position: center center; background-size: cover; width:100%; }
.dm-topslider-slide-4 { background: url('../images/index/slider/slide_4.jpg') 100% 100% no-repeat; background-position: center center; background-size: cover; width:100%; }
.dm-cntnt-hrd { font-size:16pt; font-family: SFBold, sans-serif; color:#b3282d !important; text-transform: uppercase; margin-top:25px; margin-bottom:30px; }
.dm-cntnt-shrd { font-size:16pt; font-family: SFBold, sans-serif; color:#444; text-transform: uppercase; margin-top:25px; margin-bottom:30px; }
.dm-cntnt-hrd2 { font-size:16pt; font-family: SFBold, sans-serif; text-transform: uppercase; }
.dm-ul LI:BEFORE { font-family: 'Glyphicons Halflings'; font-size: 8pt; content: "\e074"; margin-left:-24px; margin-right:13px; color: #b3282d; }
.dm-ul UL { list-style-type: none; padding-left: 24px !important; }
.dm-ul LI { margin-bottom: 15px; width:100%; }
.dm-quote-hdr { padding:10px; font-size:14pt; font-family: SFMedium, sans-serif; text-transform: uppercase; text-align:center; background: url('../images/quote-left.png') left top no-repeat;}
.dm-quote-rght { margin-top:10px; padding:0 23px; background: url('../images/quote-right.png') right bottom no-repeat; }
.dm-cntnt-hdr { font-size:16pt; font-family: SFBold, sans-serif; color: #555; font-size:14pt; }
.dm-cntnt-txt { color: #555; font-size:11pt; }
.dm-prod-txt { color: #555; font-size:11pt; }
.dm-cntnt-txt P { padding-bottom: 20px; }
.dm-about-cert { background: url('../images/about/cert.jpg') center center no-repeat; background-size:cover; }
.dm-wcntnt-txt { color: #fff; font-size:11pt; }
.dm-wcntnt-txt-mrg { padding:20px; }
.dm-quote-text { font-family: SFRegular, sans-serif !important; color: #555 !important;  text-transform: none !important; }
.dm-abt-mcnt { background-color: #f3f2f3; padding: 35px 0 !important; }
.dm-abt-wrap { margin:15px 0; height:50px; background: url('../images/about/wrap.jpg') center center no-repeat; }
.dm-item-5-7-1 { height:383px; }
.dm-item-4-1 { height:283px; }
.dm-item-cont { background-color:#f3f2f3 !important; }
.dm-cat-item { background-color:#111; }
.dm-cat-item:hover > .dm-item-cont { opacity:0.7; }
.dm-cat-item:hover > .dm-cat-item-hdr { color:#fff; }
.dm-cat-item-hdr { padding:20px; position: absolute; top:0px; z-index:10; text-transform: uppercase; font-family: SFBold, sans-serif; }
.dm-cat-frm { background-color:#b3b2b1; }
.dm-upc-text { text-transform: uppercase; font-size:12pt;}
.dm-cntnt-date {font-size:11pt !important;}
.dm-cntnt-news { font-family: SFBold, sans-serif; font-size:14pt; text-transform: none !important; }
.dm-news-img { height: 157px; }
.dm-link { color: #b3282d !important; }
.dm-link:hover { color: #cc282d !important; }
.dm-btinfo {font-size:10pt;}
.dm-btinfo-hdr { font-family: SFBold, sans-serif; font-size:11pt; text-transform: uppercase; margin-bottom:0px !important;  }
.dm-krowki, .dm-krowki > A { color: #ccc !important; }
.dm-krowki > A:hover { color: #aaa !important; }
.dm-cat-hdr {position: absolute; top:0px; z-index:10; width:calc( 100% - 30px ); padding:10px;} 
.dm-cat-ftr {position: absolute;  top:290px; z-index:10; width:calc( 100% - 30px );}
.dm-cat-sftr-1 {position: absolute; top:215px; z-index:10; width:calc( 100% - 35px );}
.dm-cat-sftr {position: absolute; top:215px; z-index:10; width:calc( 100% - 50px );}
.dm-uprice { font-size:9pt; color:#777; }
.dm-descr { font-family: SFRegular, sans-serif; font-size:10pt; color:#777; margin-top:10px; }
.dm-price-zprs { font-size:9pt !important; height:20px; }
.dm-sl-fwdth { width:calc( 100% - 30px ); }
.dm-buyit { text-decoration: none !important; }
.dm-prod-pw { width:100%; cursor:pointer; border: 1px solid #f3f2f3; }
.dm-prod-pw:hover{ border: 1px solid #ccc; }
.dm-prod-pw-act { opacity: 0.5; }
.dm-tabs UL { border:none !important; }
.dm-tabs UL LI.dm-tabs-legend  { width:50%; font-family: SFBold, sans-serif; color: #555;}
.dm-tabs UL LI.active A { background-color:#f3f2f3 !important; color: #555 !important; }
.dm-tabs UL LI A { border-radius: 0px; border:none !important; background-color:#444 !important; color: #fff !important; text-transform: uppercase; margin:0px !important; }
.dm-tabs UL LI A:hover { background-color:#666 !important;}
.dm-tabs UL LI.active  A:hover { background-color:#f3f2f3 !important;}
.dm-cbox > LABEL { padding:5px 0; margin-left: 20px; cursor:pointer; font-family: SFRegular, sans-serif !important; color: #555 !important; font-size:11pt; font-weight: normal; }
.dm-cbox > LABEL:BEFORE { font-family: 'Glyphicons Halflings'; font-size: 8pt; content: "\e074"; margin-left:-20px; margin-right:12px; content:url('../images/materials/checkbox-1.png'); }
.dm-cbox > INPUT:checked + LABEL:before { content:url('../images/materials/checkbox-2.png'); }
.dm-cbox > INPUT + LABEL:before { color: #ccc; }
.dm-cbox > INPUT { display: none; }
.dm-txt-jstfy {  text-align: justify;  text-justify: inter-word; }
.dm-advtg { height: 70px; }
.dm-txtarea { height: 60px !important; }
.dm-txtarea-fb { height: 110px !important; }
.dm-txtarea textarea { height: 55px !important; }
.dm-txtarea-fb textarea { height: 105px !important; }
.dm-mirekana { color: #aaa; }
.dm-chck-policy, dm-chck-policy-fbfrm { min-height: 55px; }
.dm-chck-policy label:HOVER, .dm-chck-policy-fbfrm label:HOVER { cursor:pointer; }
.dm-chck-policy input[type=checkbox]:checked + label,
.dm-chck-policy-fbfrm input[type=checkbox]:checked + label { color: #fff; }
.dm-chck-policy input[type=text], .dm-chck-policy-fbfrm input[type=text] {
	margin-top:10px;
	border-top:none;
	border-left:none;
	border-right:none;
	background-color:transparent;
}
.dm-chck-policy input[type=checkbox] + label:before {
	position: relative;
	display: block;
	content: url('../images/chckbox-1.png');
	margin-left:-35px;
	margin-right:9px;
	top:31px;
}
.dm-chck-policy input[type=checkbox]:checked + label:before {
	content: url('../images/chckbox-2.png');
	color:red;
}
.dm-chck-policy input[type=checkbox] + label {
	display: block; 
	font-weight: normal;
	font-size: 7pt;
	color:#fff;
	margin-left: 35px;
	margin-top:-31px;
}
.dm-chck-policy-fbfrm input[type=checkbox] + label:before {
	position: relative;
	display: block;
	content: url('../images/chckbox-3.png');
	margin-left:-35px;
	margin-right:9px;
	top:31px;
}
.dm-chck-policy-fbfrm input[type=checkbox]:checked + label:before {
	content: url('../images/chckbox-4.png');
	color:red;
}
.dm-chck-policy-fbfrm input[type=checkbox] + label {
	display: block;
	font-weight: normal;
	font-size: 7pt;
	color:#fff;
	margin-left: 35px;
	margin-top:-31px;
	z-index:1;
}
.dm-chck-policy a, .dm-chck-policy a:visited, .dm-chck-policy-fbfrm a, .dm-chck-policy-fbfrm a:visited {
	position:relative;
	display:block;
	color: #ddd;
	text-decoration: underline;
	font-weight: normal;
	font-size: 7pt !important;
	z-index:10;
}
.dm-chck-policy a:hover, .dm-chck-policy-fbfrm a:hover  { color: #eee; }
.dm-menu-icons {
	position: absolute;
	top: 145px;
	left: calc( 100% - 70px );
}
.dm-dropmenu-1 { list-style: none; margin: 20px 0; }
.dm-dropmenu-1 > LI { padding: 7px 0; }
.dm-dropmenu-1 > LI > A, .dm-dropmenu-1 > LI > A:visited { text-transform: uppercase; color: #b3282d; font-family: SFMedium, sans-serif; font-size: 15pt; }
.dm-dropmenu-1 > LI > A:hover { text-decoration: none; color: #cc282d; }
.dm-dropmenu-1 > LI > UL { list-style: none; padding: 0; }
.dm-dropmenu-1 > LI > UL > LI { padding: 5px 0; }
.dm-dropmenu-1 > LI > UL > LI > A, .dm-dropmenu-1 > LI > UL > LI > A:visited { color: #333; font-family: SFMedium, sans-serif; font-size: 11pt; }
.dm-dropmenu-1 > LI > UL > LI > UL { list-style: none; padding-left: 20px; }
.dm-dropmenu-1 > LI > UL > LI > UL > LI { padding: 5px 0; }
.dm-dropmenu-1 > LI > UL > LI > UL > LI > A, .dm-dropmenu-1 > LI > UL > LI > UL > LI > A:visited { color: #555; font-family: SFRegular, sans-serif; font-size: 10pt; }
.dm-dropmenu-2 { list-style: none; margin: 20px 0; }
.dm-dropmenu-2 > LI { padding: 7px 0; }
.dm-dropmenu-2 > LI > A, .dm-dropmenu-2 > LI > A:visited { text-transform: uppercase; color: #b3282d; font-family: SFMedium, sans-serif; font-size: 15pt; }
.dm-dropmenu-2 > LI > A:hover { text-decoration: none; color: #cc282d; }
.dm-dropmenu-2 > LI > UL { list-style: none; padding-left: 20px; }
.dm-dropmenu-2 > LI > UL > LI { padding: 5px 0; }
.dm-dropmenu-2 > LI > UL > LI > A, .dm-dropmenu-2 > LI > UL > LI > A:visited { color: #555; font-family: SFRegular, sans-serif; font-size: 10pt; }
.dm-dropmenu-3 { list-style: none; margin: 20px 0; }
.dm-dropmenu-3 > LI { padding: 7px 0; }
.dm-dropmenu-3 > LI > A, .dm-dropmenu-3 > LI > A:visited { text-transform: uppercase; color: #333; font-family: SFMedium, sans-serif; font-size: 15pt; }
.dm-dropmenu-3 > LI > A:hover { text-decoration: none; color: #666; }
.dm-dropm-bg { background-color: #f1f1f1; }
.dm-cert-pads { padding: 25px; }
a.dm-more-btn, a.dm-more-btn:visited { display:block; text-align:center; color: #fff; }
a.dm-more-btn:hover { color: #fff; text-decoration:none; }
a.dm-sub-krowki, a.dm-sub-krowki:visited {
	display:block;
	font-size: 11pt;
	color: #777;
	min-height: auto;
}

@media(min-width:200px){
	.dm-quote-text { font-size:10pt !important; }
    .dm-mat-body-hdr { font-size:12pt; }
	.dm-mat-body-collapse { font-size:8pt; }
	.dm-tab-img {width:100%;}
	.dm-tabfnt { font-size: 9pt; }
	.dm-dlrs-quote { background: url('../images/dealers/quote.png') 8.7% bottom no-repeat; }
	.dm-cntnt-hrd2 { margin:0 0; font-size:10pt;}
	.dm-sldr-cat .glyphicon-chevron-right:before { position:relative; left: 37px; }
	.dm-sldr-cat .glyphicon-chevron-left:before { position:relative; left: -37px; }
	.dm-article-img { width: auto; }
	.dm-article-txt { font-size: 13pt; line-height:30px; }
	.dm-xs-sm-fwdth { width:100% !important; }
	.dm-clients-logo { box-sizing: border-box; width: 100%; }
}

@media(min-width:360px){
}

@media(min-width:400px){
    .dm-mat-body-hdr { font-size:12pt; }
    .dm-mat-body-collapse { font-size:10pt; }
	.dm-tab-img {width:auto;}
	.dm-cntnt-hrd2 { margin:15px 0; font-size:12pt;}
}

@media(min-width:500px){
	.dm-quote-text { font-size:12pt !important; }
	.dm-clients-logo { box-sizing: border-box; width: auto; }
}

@media(min-width:601px){
	.dm-cntnt-hrd2 { margin:25px 0; font-size:14pt;}
	.dm-item-prod { height:500px; background-size:70% !important;}
	.dm-ftr { background: url(../images/logo-ftr.png) 30px 30px no-repeat; }
	.dm-ftr-htext { font-size:14pt; font-family: SFBold, sans-serif; }
	.dm-dlrs-quote { background: url('../images/dealers/quote.png') 47px bottom no-repeat; }
}

@media(max-width:600px){
	.dm-item-prod { height:400px; background-size:80% !important;}
	.dm-quote-hdr { font-size:12pt; }
	.dm-delrs-icon { width: 100%; }
	.dm-ftr { background: none; }
	.dm-ftr-htext { font-size:11pt; font-family: SFBold, sans-serif; }
}

@media(max-width:767px){
	BODY.dm-regular { margin-top:85px; }
	.dm-lchevron { left:30% !important; } .dm-rchevron { right:30% !important; }
	.dm-cli-img { width: auto; }
	.dm-xs-cntr { text-align:center; }	
	.dm-vmrg-xs-15, .dm-vmrg-25 { margin-top:15px !important; }
	.dm-bmrg-xs-20 { margin-bottom:20px !important; }
	.dm-tmrg-xs-50 { margin-top:50px !important; }
	.dm-tmrg-xs-25 { margin-top:25px !important; }
	.dm-tmrg-xs-30 { margin-top:30px !important; }
	.navbar-default .navbar-toggle {
		margin-top:20px !important;
	}
	.dm-xs-nopad { padding: 0px !important; }
	.dm-xs-pad { padding: 0 15px; }
	.dm-ftr-nav, .dm-ftr-nav:hover { margin:0 10px; color: #fff; }
	.dm-xs-hdr { height:85px; }
	.dm-nav-bg { background: none; }
	.dm-nav-a-fnt { font-family: SFRegular, sans-serif;  font-size: 11.6pt; }
	.dm-cert-ltd { display: block !important; width: 100%; }
	.dm-cert-rtd { display: block !important; width: 100%; }
	.dm-wdth4-xs { width:100% !important; }
	.dm-hpdng-50 { padding-left:10px !important; padding-right:10px !important; }
}
@media(min-width:768px){
	BODY.dm-regular { margin-top:190px; }
    .dm-mat-body-hdr { font-size:12pt; }
    #dm-dropdown-menu-cont { max-height: calc(100vh - 190px); overflow-y: auto; }
	.dm-tmat-block-img { width: 140px; }
	.dm-tmat-block LABEL { font-size: 8pt; }
	.dm-item-prod { height:500px; background-size:70% !important;}
	.dm-lchevron { left:20% !important; } .dm-rchevron { right:20% !important; }
	.dm-cli-img { width: 80%; }
	.dm-tmrg-sm-25 {margin-top: 25px !important; } 
	.dm-cat-item-sz  { font-size: 10pt; }
	.dm-wcntnt-txt { font-size: 10pt; }
	.dm-delrs-icon { width: 100%; }
	.dm-cntnt-hrd2 { margin:10px 0; }
	.dm-ftr-nav, .dm-ftr-nav:hover { margin:0 20px; color: #fff; }
	.dm-txt-rhdr { font-size: 9pt; }
	.dm-txt-tel { font-family: SFMedium, sans-serif;  font-size: 12pt; }
	.dm-txt-zvk { font-size: 9pt; }
	.dm-nav-a-fnt { font-size: 9pt; }
	.dm-tabfnt { font-size: 10pt; }
	.dm-nav-bg { background: url(../images/bot-bg.png) left bottom; }
	.dm-dlrs-quote { background: url('../images/dealers/quote.png') 28px bottom no-repeat; }
	.dm-dropmenu-3-sm-patch { margin-top: -100px; }
	.dm-cert-ltd { width: 40%; }
	.dm-cert-rtd { width: 60%; }
	.dm-wdth4-xs { width:40% !important; }
	.dm-hpdng-50 { padding-left:50px !important; padding-right:50px !important; }
	.dm-sub-krowki { min-height: 50px !important; }
	.dm-article-img { width: 100%; }
	.dm-article-txt { font-size: 11pt; line-height:25px; }
}
@media(min-width:992px){
	.dm-xs-sm-fwdth { width:auto !important; }
	.dm-tmat-block-img { width: 180px; }
	.dm-tmat-block LABEL { font-size: 10pt; }
	.dm-cli-img { width: auto; }
	.dm-lchevron { left:10% !important; } .dm-rchevron { right:10% !important; }
	.dm-tmrg-sm-25 {margin-top: 0px !important; }
	.dm-cat-item-sz  { font-size: 12pt; };
	.dm-wcntnt-txt { font-size: 12pt; }
	.dm-cntnt-hrd2 { margin:17px 0; }
	.dm-txt-rhdr { font-size: 11pt; }
	.dm-txt-tel { font-family: SFMedium, sans-serif;  font-size: 14pt; }
	.dm-txt-zvk { font-size: 12pt;} 
	.dm-tabfnt { font-size: 12pt; }
	.dm-nav-a-fnt { font-size: 10pt; }
	.dm-dlrs-quote { background: url('../images/dealers/quote.png') 37px bottom no-repeat; }
	.dm-sldr-cat .glyphicon-chevron-right:before { position:relative; left: 30px; }
	.dm-sldr-cat .glyphicon-chevron-left:before { position:relative; left: -30px; }
	.dm-article-txt { font-size: 13pt; line-height:30px; }
}
@media(min-width:1200px){
	#dm-dropdown-menu-cont { max-height: auto; overflow-y: auto; }
	.dm-tmat-block-img { width: auto; }
	.dm-tmat-block LABEL { font-size: 11pt; }
	.dm-cat-item-sz  { font-size: 13pt; };
	.dm-tmrg-md-25 {margin-top: 25px !important; }
	.dm-cli-img { width: auto; } 
	.dm-cntnt-hrd2 { margin:25px 0; }
	.dm-txt-rhdr { font-size: 12pt; }
	.dm-txt-tel { font-family: SFMedium, sans-serif;  font-size: 16pt; }
	.dm-txt-zvk { font-size: 12pt; }
	.dm-tabfnt { font-size: 14pt; }
	.dm-nav-a-fnt { font-size: 11.6pt; }
	.dm-dlrs-quote { background: url('../images/dealers/quote.png') 45px bottom no-repeat; }
	.dm-dropmenu-3-sm-patch { margin-top: 0px; }
	.dm-sub-krowki { min-height: 30px !important; }
}


.navbar-toggle.collapsed .dm-sw-icon IMG {
	background: url('../images/sandwich.png') 50% 50% no-repeat;
}

.navbar-toggle .dm-sw-icon IMG {
	background: url('../images/close.png') 50% 50% no-repeat;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: transparent !important;
}

.dm-sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.dm-sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #bbb;
	display: block;
	transition: 0.3s;
}

.dm-sidenav a:hover, .offcanvas a:focus{
	color: #fff;
}

.dm-sidenav .dm-closebtn {
	position: absolute;
	top: 0;
	right: 13px;
	margin-top:4px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.dm-sidenav {padding-top: 15px;}
	.dm-sidenav a {font-size: 18px;}
}

#topslider .carousel-indicators li {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: -14px 10px;
	text-indent: 0;
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-radius: 0%;	
}

#topslider .carousel-indicators .dm-slider-ind  {
	background: url('../images/index/slider/icons/slider-passive.png') left top no-repeat !important;
}


#topslider .carousel-indicators .dm-slider-ind.active  {
	background: url('../images/index/slider/icons/slider-active.png') left top no-repeat !important;
}

.dm-back-to-top, .dm-back-to-top:visited  {
	background-color:#777;
	border-radius: 8%;
	width:50px;
	border: 0px solid white;
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display:none;
	text-align:center;
	line-height:50px;
	color: #fff;
	font-size:18pt;
	text-decoration:none !important;
	opacity:0.5;
}

.dm-back-to-top:hover { background-color:#999; }
.dm-top-logo-img { border: none; }

.nav > li.dropdown.open { position: static; }
.nav > li.dropdown.open > a:focus{ background-color: transparent; color: #b3282d; }
.navbar-default .navbar-nav > li > a:focus { color: #777; }

.nav > li.dropdown.open .dropdown-menu {
	display: table;
	border-radius: 0px;
	border: none;
	width: 100%;
	text-align: center;
	top: 44px;
	left: 0px;
	right: 0;
}

.dropdown-menu > li {
	display: table-cell;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}

@media screen and (max-width: 767px) {
	.dropdown-menu > li {
		display: block;
	}
}

.glyphicon-chevron-left::before { content: url('../images/sl-arr-l.png'); }
.glyphicon-chevron-right::before { content: url('../images/sl-arr-r.png'); }
.carousel-control { opacity: .5 !important; }
.carousel-control:hover { opacity: 1 !important; }
.dm-sldr-cat .carousel-control { width: 90px !important; }
.dm-tmat-block-cbox { position: absolute; display:block; }
.dm-tmat-block { margin: 0px 3px; }
.dm-tmat-block-img { background-repeat: no-repeat; background-size: cover; }
.dm-tmat-block-warn { margin:25px 0px; font-style: italic; font-size:10pt; color:#777; }
.dm-tmat-block-helper img { height:1px; width:60px; }
.dm-mat-body-hdr { font-weight:bold; }
A.dm-mat-body-collapse, A.dm-mat-body-collapse:visited {
	display:inline-block;
	margin-left: 15px;
	color: #aaa;
        text-decoration: none; 
}
A.dm-mat-body-collapse:hover { text-decoration: underline; }
A.dm-mat-body-collapse-in:before {
        content:url(../images/materials/collapse_1.png);
        margin-right: 10px;
}
A.dm-mat-body-collapse-out:before {
        content:url(../images/materials/collapse_2.png);
        margin-right: 10px;
}
A.dm-mat-body-tolist, A.dm-mat-body-tolist:visited {
	display:inline-block;
	font-size:10pt;
	color: #b3282d;
        text-decoration: none; 
}
A.dm-mat-body-tolist:hover { text-decoration: underline; }
A.dm-mat-body-tolist:before {
        content:url(../images/materials/to-top.png);
        margin-right: 10px;
}
.dm-mat-p { display:block; width:80px; position:absolute; font-size:8.5pt;}
.dm-mat-block { margin-bottom: 40px; }
.dm-act-tophdr-text { font-size: 11.5pt; }
.dm-act-tophdr { font-weight: bold; }
.dm-act-list > ol { list-style: none; counter-reset: li; padding-left:0px; }
.dm-act-list > ol > li:before { content: counter(li) ". "; color: #b3282d; margin-right:5px; }
.dm-act-list > ol > li { color: #555; margin: 15px 0; font-weight: bold; counter-increment: li;}
.dm-act-signature { font-weight: bold; color: #b3282d; }
A.dm-blk-link, A.dm-blk-link:visited { color: #444; text-decoration: underline; }
A.dm-blk-link:hover { color: #666; text-decoration: underline; }
.dm-article-hdr { font-size: 14pt; }
A.dm-article-more, A.dm-article-more:visited, A.dm-article-more:hover { color: #b3282d; font-size: 9pt; }
a.dm-more2-btn, a.dm-more2-btn:visited { display:block; text-align:center; color: #b3282d; }
a.dm-more2-btn:hover { color: #b3282d; text-decoration:none; }
.dm-hover-opacity:hover { opacity:.7; }
.dm-news-navi > A, .dm-news-navi > A:visited { color: #444; text-decoration:underline; line-height:83px; font-size:11pt; margin: 0px 20px;}
.dm-news-navi > A:hover {  color: #777; }
.dm-photo-badge { background: url('../images/badge-bg.png') right bottom no-repeat !important; }
.dm-photo-hover:hover > div > a > img { opacity: .5; }
.dm-photo-hover:hover > div.dm-bg-f2 { background-color:#3c3c3c !important; }
.dm-photo-hover:hover > div.dm-bg-f2 > div > p { color: #fff !important; }
.dm-contacts-hrd { font-size:12pt; font-weight: bold; color: #b3282d; margin-bottom:40px; margin-top:20px; }
A.dm-bld-link, A.dm-bld-link:visited { font-weight: bold; color: #000; }
A.dm-bld-link:hover { color: #222; }
.dm-contacts-badge { height:12px; position:relative; margin-top:-12px; right:0px; z-index:2; background: url('../images/badge-bg.png') right bottom no-repeat !important; }
.dm-like-icon { background: url('../images/like-bw.png') right bottom no-repeat !important;  }
.dm-like-icon:hover { background: url('../images/like.png') right bottom no-repeat !important; }
.dm-like-prod { position:absolute; top:0; left:0; width:100%; padding-right:15px; z-index:20 !important; }
#dm-prod-slider A.right.carousel-control { top:48px; }
#dm-prod-slider A.right.carousel-control .glyphicon-chevron-right { top:calc(50% - 24px); }
.dm-modal-content { box-shadow: none !important; border:none !important; }
.dm-modal-close { color: #fff; !important; opacity: 1 !importamt; text-shadow: none; }
.dm-modal-header .close { opacity: .7 !important;  }
.dm-modal-header .close:hover { opacity: 1 !important; }
.dm-modal-header { border:none !important; }
.dm-modal-body > DIV > DIV > P { font-size:18pt; }
.dm-modal-body { padding-bottom: 20px; }
.navbar-fixed-top-scrollbar { margin-right: 17px !important; }
.navbar-fixed-top-noscrollbar { margin-right: 0px !important; }
